# VS Code extensions should not include these files
.vscode/**
.github/**
src/**
*.ts
*.map
.eslintrc*
.eslintignore
tsconfig.json
.gitignore
node_modules/**
*.vsix
.vsc-extension-quickstart.md
.vscode-test.mjs
esbuild.js
mocha.*
*.log
npm-debug.log*